name: Continues Integration
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs: 
  build:
   runs-on: ubuntu-latest
   steps:
     - name: Build stage
       run: echo " App is building"

       
